/*
  ========================================
  General
  ========================================
*/

h2.project-name {
	font-size: 18pt;	
	font-weight: 700;
	/*text-transform: uppercase;*/
	text-align: center;
	padding-bottom: 5px;
}

h3 {
	float: left;
	width: 100%;
	font-size: 21pt;
	border-bottom: 2px solid #ddd;
	padding: 10px 10px 10px 0px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 10px;
}

h5 {
	font-size: 12pt;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 15px;
}

h4 {
/*	display: block;*/
	font-size: 12pt;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 20px;
}

/* projects grid title: */
h2.project-title {
  color: #23343f;
  font-weight: 600;
}

/* typeface in the visualization id */
#visualization {
	font-family: 'Open Sans', 'sans-serif';
}

/*
  ========================================
  Visualization
  ========================================
*/

/* project title */
#project-vis {
	float: left;
	margin-top: 30px;
	width: 100%;
}

/* technologies used */
.tech {
	text-align: center;
	margin: 5px 0px 47px 0;
	font-family: 'Open Sans', Verdana, sans-serif;
}

.tech li {
	display: inline-block;
	padding: 0px 7px 0px 7px;
	font-size: 8pt;
	border: 1px solid #D3D3D3;
	border-radius: 3px;
}


/* data sources */
.data-sources {
	width: 60%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
}

.data-sources p {
	font-family: 'Open Sans', Verdana, sans-serif;
	font-size: 8pt;
	float: left;
	color: #555;
	margin: 0px 0 20px 0;
}

.data-sources span {
	font-size: 8pt;
	font-weight: bold;
}

.data-sources a {
	color: black;
}


/*
  ========================================
  Tooltip
  ========================================
*/

.tooltip {
	display: none;
	position: absolute;
/*	background-color: black;
	color: white;
	opacity: 0.7;*/
	/*border-radius: 5px;*/
	padding: 10px 15px 12px 15px;
	max-width: 200px;
	font-family: Arial, sans-serif;
	background-color: #ddd;
	color: #111;
	opacity: 0.95;
	line-height: 1.2em
}

.tooltip span {
	display: block;
	font-weight: 800;
	margin: 5px 0 0 0;
}


/*
  ========================================
  Process
  ========================================
*/

.process {
	margin: 0 auto;
	width: 70%;
	margin-top: 80px;
}

.two-column-text {
	clear: left;
	font-family: 'Georgia', 'Times New Roman', serif;
	font-size: 12pt;
	line-height: 1.6em;	
	column-count: 2;
	column-gap: 30px;
	margin-bottom: 20px;
}

.two-column-text a {
	text-decoration: none;
	color: #778899;
	font-style: italic;
}


@media (max-width: 728px) {
	.two-column-text {
		column-count: 1;
	}
}

.process-img img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}


